@using TaskAppTp.Helpers
@model TaskAppTp.Models.Tarea

@{
    ViewData["Title"] = "Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Detalle</h1>
<hr />
<div class="d-flex flex-column m-auto px-5 gap-3">
    <dl class="row my-auto">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-4">
            Creado
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.FechaCreado)
        </dd>
        @if (!string.IsNullOrEmpty(Model.Descripcion))
        {
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Descripcion)
            </dd>
        }
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Prioridad)
        </dt>
        <dd class = "col-sm-8">
            <label asp-for="Prioridad" class="badge @TareasHelper.GetBgPrioridad(Model.Prioridad) form-check-label">@Model.Prioridad</label>
        </dd>
        <dt class = "col-sm-4">
            Estado
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Completo)
        </dd>
        @if(Model.FechaCambioEstado != null)
        {
            <dt class = "col-sm-4">
                Fecha de cambio de estado
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.FechaCambioEstado)
            </dd>
        }
    </dl>
    <div class="d-flex flex-column gap-3">
        <h5>Comentarios</h5>
        <div class="overflow-auto bg-white" style="height: 400px">
            <ul class="list-group" style="word-break:break-all">
                @foreach (Comentario item in ViewBag.comentarios)
                {
                    <li class="list-group-item flex-column">
                        <p class="mb-3">
                            @item.Texto
                        </p>
                        <div class="d-flex flex-row justify-content-between">
                            <small>@item.FechaCreada</small>
                            <form asp-action="eliminar" asp-controller="Comentario" method="post">
                                <input type="hidden" value="@item.Id" name="id"/>
                                <input type="hidden" value="@Model.Id" name="idTarea"/>
                                <button type="submit" class="btn btn-danger"><i class="bi bi-trash"></i></button>
                            </form>
                        </div>
                    </li>
                }
            </ul>
        </div>
        <form class="d-flex gap-3" asp-action="crear" asp-controller="Comentario" method="post">
            <input type="text" placeholder="Dejar comentario" class="form-control" name="Texto" required minlength="10" maxlength="150" />
            <input type="hidden" value="@Model.Id" name="IdTarea" />
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</div>
<div class="d-flex justify-content-center mt-5">
    <a asp-action="Index" asp-controller="Tarea" asp-route-id="@Model.IdCarpeta" class="btn btn-success">Volver a la lista de tareas</a>
</div>
