@using TaskAppTp.Helpers
@model TaskAppTp.Models.Tarea

@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex align-items-center">
    <a asp-action="Index" class="btn btn-primary rounded-circle" asp-controller="Tarea" asp-route-id="@Model.IdCarpeta"><i class="bi bi-arrow-left"></i></a>
    <h1 class="mx-auto">Eliminar</h1>
</div>
<hr />
<h3>¿Esta seguro que quiere eliminar esta Tarea?</h3>
<p class="alert alert-danger">Este cambio es irreversible</p>
<div class="d-flex flex-column align-items-center gap-3 mt-4">
    <dl class="row w-50">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        @if (!string.IsNullOrEmpty(Model.Descripcion))
        {
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.Descripcion)
            </dd>
        }
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Prioridad)
        </dt>
        <dd class = "col-sm-8">
            <label asp-for="Prioridad" class="badge @TareasHelper.GetBgPrioridad(Model.Prioridad) form-check-label">@Model.Prioridad</label>
        </dd>
        <dt class = "col-sm-4">
            Estado
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Completo)
        </dd>
    </dl>
    
    <form asp-action="EliminarTarea" asp-controller="Tarea" method="post">
        <input asp-for="Id" id="id" type="hidden" />
        <input type="submit" value="Eliminar tarea" class="btn btn-danger w-100" />
    </form>
</div>
