@model IEnumerable<TaskAppTp.Models.Carpeta>

@{
    ViewData["Title"] = "Carpetas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex flex-column gap-3 mb-4">
    <h1>Lista de carpetas</h1>
    <p>
        <a asp-action="Crear" class="btn btn-primary w-100">Crear nueva carpeta de tareas</a>
    </p>
</div>
<hr/>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Cantidad de tareas
            </th>
            <th>
                Tareas terminadas
            </th>
            <th>
                Tareas pendientes
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Nombre
            </td>
            <td>
                @item.CantidadTareas
            </td>
            <td>
                @item.Terminadas
            </td>
            <td>
                @item.Pendiente
            </td>
            <td class="text-center">
                <a class="btn btn-success" asp-action="Index" asp-controller="Tarea" asp-route-id="@item.Id">Ver tareas</a>
                <a class="btn btn-warning" asp-action="Modificar" asp-route-id="@item.Id" asp-controller="Carpeta">Modificar</a>
                <a class="btn btn-danger" asp-action="Eliminar" asp-route-id="@item.Id" asp-controller="Carpeta">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
